* {
    font-family: 'Roboto', sans-serif;
}
html {
    background-color: #235292;;
}

.searchForm p, #data p {
    font-size : 16px;
    color : white;
}

#data{
    background : linear-gradient(rgba(119, 119, 119, 0.179), rgba(201, 201, 201, 0.402));
    width : 80%;
    margin: auto;
    padding : 20px;
    margin-top: 20px;
    height: 100%;
    /* display : none; */
    border-radius : 4px;
}

#data h2 {
    margin-top: 12px;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

#condGen{
    text-transform: lowercase;
    font-weight: bold;
}
.searchForm {
    margin : auto;
    margin-top : 20px;
    text-align : center;
    background-color: #efefef;
    width : 30%;
    padding : 4px;
    border-radius: 20px;
}

.searchForm input, .searchForm button {
    padding : 10px;
}
.searchForm button {
background-color: #efefef;
border : solid rgb(103, 103, 103) 1px;
border-radius : 2px;
}
.searchForm button:hover{
    cursor : pointer;
}
.searchForm input {
    text-transform: capitalize;
    width : 60%;
    border : solid rgb(103, 103, 103) 1.5px;
}
.searchForm input:focus {
    outline : none;

}
.searchForm small {
    margin-top : 4px;
    display : block;
}

.searchMeteoError small{
    color: red;
    font-weight : bold;
}
.searchMeteoError input{
    border-color : red !important;
}

.searchMeteoSuccess input{
    border-color : green !important;
    border-radius: 4px;
}

#temperature {
    display :inline-flex;
}
#temperature img {
    width : 76px;
    height : 76px;
}

input[type=range] {
    width: 100%;
    height: 4px;
    cursor: pointer;
}
#temperature p{
    margin-left: 8px;
    font-size: 64px;
    line-height: 62px;
    align-items: center;
    direction: ltr;
    display: flex;
}

#cityName h2 {
    color : white;
}
#temperature h3{
    border-radius: 6px;
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 26px;
    color : white;
}

#dayforecast p {
    
    border-radius: 6px;
}

#infos {
    background : rgba(211, 211, 211, 0.166);
    padding: 10px;
    border-radius: 4px;
    display : flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.infoItem{
    color : white;
    height: 38px;
    display: inline-flex;
}

.underline{
    text-decoration: underline;
    font-weight : bold;
}

#forecast {
    margin-top: 20px;
    background-color: #1f4161;
    padding: 10px;
    border-radius : 4px;
}

#fctContainer {
    display : flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



.day {
    color : white;
    background: #2c4c6b;
    width: 20%;
    padding: 5px;
    border-radius: 2px;
    
}

.day h3{
    line-height: 10px;
    font-size: 16px;
    font-weight: 300;
}

.fctInfo {
    display :flex;
    direction: ltr;
    align-items: center;
}

.fctInfo img {
    width : 40px;
    height : 40px;
}
.tempCol {
    display: flex;
    line-height: 22px;
    margin-left: 12px;
    flex-direction: column;
} 
.tempCol .top {
    font-weight: 600;
}


#displayTmp {
    line-height: 0px;
    margin-bottom: 6px;
}

/* MAP */
#map {
    display: none; 
    height: 180px; 
}

#data {
    display: none;
}